@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*
font-family: "Permanent Marker", cursive;
font-family: "Roboto", sans-serif;
*/
/* ------------------------------------------------ NAV BAR ----- */
.my-nav {
  background-color: #964600;
  text-align: center;
}
.brand-logo {
  position: absolute;
  left: 20px;
}
.centered {
  justify-content: center;
  display: flex;
}
.nav-links {
  max-width: 15%;
  background-color: #964600;
  font-family: "Permanent Marker", cursive;
  color: #f7f7f7;
  letter-spacing: 1px;
}
.nav-link-for-dropdown {
  width: auto;
  font-family: "Permanent Marker", cursive;
  color: #f7f7f7;
  letter-spacing: 1px;
}
/* ------------------------------------------------ main picture area ----- */
.picture-area {
  background-color: #666666;
}
.picture-area img {
  display: block;
  margin: auto;
}

/* ------------------------------------------------ home page and search results  ----- */
.search-results {
}
.search-result-bar {
  border: 1px solid brown;
  height: 56px;
  background-color: #f5f5dc;
}
.search-results-list {
  max-height: 500px;
}

.image-container {
  height: 126px;
  width: 126px;
  margin: 0 auto;
  margin-top: 12px;
}

/* ------------------------------------------------ serch reults by cards ----- */
.card.horizontal {
  border-radius: 30px;
}
.round-image {
  border-top-left-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
}
.info-window {
  border: 1px solid brown;
}
.short-info {
  height: 60px;
  width: 110px;
  border: 1px solid green;
  display: inline-block;
  position: relative;
  margin: 0 auto;
  padding: 0;
}
.circles {
  height: 40px;
  width: 40px;
  background-color: #ff9900;

  float: left;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
}
.circles i {
  font-size: 34px;
  color: #f7f7f7;
  margin: 0 auto;
  padding: 0;
}
.circles p {
  font-size: 2px;
}
.data {
  font-size: 20px;
  width: 30px;
  position: relative;
  float: left;
  padding: 5px;
}
.title {
  text-align: center;
}
.info-container {
  margin: 0 auto;
  position: relative;
  width: 224px;
}
ul.a {
  display: inline-block;
}

ul.a:not(.browser-default) > li {
  list-style-type: circle !important;
}
ul.a:not(.browser-default) {
  padding: 2px 20px 4px 2px !important;
}
ul.a li {
  line-height: 1px;
}

/* ------------------------------------------------ add button and share links ----- */
.add-button {
  vertical-align: middle;
  margin-top: 7px;
  margin-left: 10px;
}
.share {
  float: right;
  display: flex;
  height: 56px;
  margin-right: 25px;
}
.share-div {
  width: 125px;
  position: relative;
  height: 56px;
}
.share-div h4 {
  font-family: "Permanent Marker", sans-serif;
  color: #bdbcbc;
  line-height: 56px;
}
.share-links-container {
  float: left;
  position: relative;
  height: 56px;
}
.share h4 {
  display: inline;
}
.circle-around-social-links {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: inline-block;
  background-color: #ff9900;
  border: 2px solid #ffffff;
  margin-top: 10px;
}

ul.share-links li {
  display: inline-block;
}
ul.share-links {
  margin: 0;
}
.share-links i {
  letter-spacing: 25px;
  font-size: 24px;
  padding-top: 4px;
  padding-left: 5px;
  color: #edebeb;
}
/* ------------------------------------------------ list icon----- */
.list-icon {
  background-color: #f7f7f7;
  margin-bottom: 15px;
}
.list-icon h5 {
  margin: 0;
  line-height: 56px;
  text-align: center;
}
.list-icon h5 span {
  font-family: "Permanent Marker", sans-serif;
  padding-left: 10px;
}
/* ------------------------------------------------ dish.html----- */
.recipe-details {
  margin-bottom: 15px;
}
.ingrediants-required {
  margin: 0;
  padding: 0;
}
.cooking-description {
}

.ingrediants {
  border: 1px solid black;
  border-radius: 15px;
  background-color: #f7f7f7;
  padding-left: 0;
  padding-right: 0px;
}
.ingrediants h5 {
  text-align: center;
}
li.order {
  list-style-type: none !important;
  font-family: "Permanent Marker", sans-serif;
  font-size: 15px;
  text-transform: capitalize;
  margin: 0 15px 0 15px;
  border: 2px solid #ffffff;
  border-radius: 13px;
  text-align: center;
}
.description {
  border: 1px solid black;
  border-radius: 15px;
  background-color: #f5f5dc;
}
.description h5 {
  text-align: center;
}
.description p {
  margin: 10px;
}

/* ------------------------------------------------ add-recipe.html form----- */
.txt-area {
  height: 70px !important;
}
.txt-area:focus {
  outline: none !important;
  border-color: #008464 !important;
  height: 100px !important;
}
select {
  margin-left: 45px !important;
  width: 88% !important;
}

.selects {
  position: absolute;
  left: 1.5rem;
}

@media only screen and (max-width: 600px) {
  .card.horizontal .card-image {
    max-width: 100% !important;
    max-height: 250px !important;
    overflow: hidden;
  }
  .ca {
    height: 800px !important;
  }
  .search-results-list {
    max-height: 800px !important;
  }
  .round-image {
    border-top-right-radius: 30px !important;
    border-bottom-left-radius: 0px !important;
  }
}
