{% extends 'base.html'%} {% block content %}
<div class="row">
  <h2 class="about_us">About Us</h2>
  <div class="col s12">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias illum quam
      nemo et omnis debitis harum molestias ipsum nihil, doloremque, iusto
      minima voluptatum suscipit ducimus tempora culpa quas similique
      blanditiis. Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Aliquid error fugit, dignissimos ab incidunt alias numquam eligendi atque
      tempore cupiditate dolore nihil dolores at pariatur sint ratione. Aperiam,
      nihil cumque.
    </p>
  </div>
</div>

{%endblock%}
