<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script src="https://kit.fontawesome.com/fa14b2a9bf.js" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<link rel="stylesheet" href="https://cdn.rawgit.com/t4t5/sweetalert/v0.2.0/lib/sweet-alert.css" />
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
	<script type="text/javascript">
		(function(){
                           emailjs.init("user_fT8QASrIT5GkBWUYFB8VD");
                        })();
	</script>
	<title>MS3 Recipe Web</title>
</head>

<body>
	<header>
		<!--This navigation is for the bigger screens-->
		<nav>
			<div class="nav-wrapper my-nav">
				<a href="/index" class="brand-logo"><i class="material-icons prefix selects">home</i></a>
				<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
				<ul class="centered hide-on-med-and-down">
					<li class="nav-links">
						<a href="/index/Poultry">POULTRY</a>
					</li>
					<li class="nav-links">
						<a href="/index/Red Meat">RED MEAT</a>
					</li>
					<li class="nav-links"><a href="/index/Pork">PORK</a></li>
					<li class="nav-links"><a href="/index/Sea Food">SEA FOOD</a></li>
					<li class="nav-links"><a href="/index/Salad">SALAD</a></li>
					<li class="nav-links">
						<a href="/index">ALL RECIPES</a>
					</li>
				</ul>
			</div>
		</nav>
		<!--This navigation peace is for smaller secreens -->
		<ul class="sidenav" id="mobile-demo">
			<li>
				<a href="/index/Poultry">POULTRY</a>
			</li>
			<li>
				<a href="/index/Red Meat">RED MEAT</a>
			</li>
			<li>
				<a href="/index/Pork">PORK</a>
			</li>
			<li>
				<a href="/index/Sea Food">SEA FOOD</a>
			</li>
			<li>
				<a href="/index/Salad">SALAD</a>
			</li>
			<li>
				<a href="/index">ALL RECIPES</a>
			</li>
		</ul>
	</header>
	<main>
		<!-- The dish block is dispayed when see recipe is clicked-->
		{% block dish %}
		<div class="col s12 container picture-area">
			<img class="responsive-img" src="{{url_for('static',filename='images/102679650_cd10235c8f_k.jpg')}}" />
            </div>
			<div class="col s12 container search-results">
				<div class="col s12 search-result-bar">
					<a href="{{url_for('add_recipe')}}"
						class="btn-floating btn-medium waves-effect waves-light red add-button"><i class="material-icons">add</i></a>
					<div class="share">
						<div class="share-div">
							<h4>Share</h4>
						</div>
						<div class="share-links-container">
							<ul class="share-links">
								<li>
									{{ share.create( sites='facebook, twitter,linkedin', mobile_sites='facebook, twitter,linkedin',addition_class='circle-around-social-links a' ) }}{{share.load() }}
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- information is displayed what is going to be beneath -->
				<div class="col s12 search-result-bar list-icon">
					<h5>
						<i class="fas fa-th-list"></i>
						<span>{{category}}</span>
						<span>{{all_recipes}}{{contact_us}}{{about_us}}</span>
					</h5>
				</div>
				{% block content %} {% endblock %}
			</div>
			{% endblock %}
	</main>
	<!-- footer-->
	<footer class="page-footer the-footer">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text"></h5>
					<p class="grey-text text-lighten-4">
						Enjoy the recipes add. If you have any questions feel free to contact Us.
					</p>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5 class="white-text">Explore</h5>
					<ul>
						<li class="footer-links">
							<a class="grey-text text-lighten-3" href="{{ url_for('about_us')}}">About Us</a>
						</li>
						<li class="footer-links">
							<a class="grey-text text-lighten-3" href="{{ url_for('contact_us')}}">Contact Us</a>
						</li>
						<div class="circle-around-social-links-footer">
							<li class="social-footer-links">
								<a class="grey-text text-lighten-3" href="https://www.facebook.com"
									target="_blank"><i class="fab fa-facebook"></i></a>
							</li>
						</div>
						<div class="circle-around-social-links-footer">
							<li class="social-footer-links">
								<a class="grey-text text-lighten-3" href="https://www.instagram.com/"
									target="_blank"><i class="fab fa-instagram-square"></i></a>
							</li>
						</div>
						<div class="circle-around-social-links-footer">
							<li class="social-footer-links">
								<a class="grey-text text-lighten-3" href="https://twitter.com/?lang=en-gb"
									target="_blank"><i class="fab fa-twitter"></i></a>
							</li>
						</div>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				© 2020 Rimantas
			</div>
		</div>
	</footer>
	<script src="{{url_for('static', filename='js/emailjs.js')}}"></script>
	<script src="{{url_for('static', filename='js/count_letters.js')}}"></script>
	<script src="{{url_for('static', filename='js/from_materializecss.js')}}"></script>
	<script src="{{url_for('static', filename='js/sweet_alert.js')}}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>