{%extends 'base.html'%}{%block content%}
<div id="response-to-email"></div>
<!-- flashed messages-->
<ul class="error">
	<li>{{error}}</li>
</ul>
{% with messages = get_flashed_messages() %} {% if messages %}
<ul class="flashes">
	{% for message in messages %}
	<li>{{ message }}</li>
	{% endfor %}
</ul>
{% endif %} {% endwith %} {% block body %}{% endblock %}
<!-- form-->
<form  method="POST" onsubmit="return sendEmail(this);" action="{{url_for('contact_us_form')}}" class="col s12">
	<div class="row">
		<div class="input-field col s6">
			<input type="text" class="validate" name="first_name" id="first_name" required />
			<label for="first_name">First Name</label>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<input id="last_name" type="text" name="last_name" class="validate" required />
				<label for="last_name">Last Name</label>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12">
			<input id="email" type="email" class="validate" name="email" required />
			<label for="email">Email</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12">
			<textarea id="message" name = "message" class="materialize-textarea" data-length="120" required></textarea>
			<label for="message">Message</label>
		</div>
	</div>
	<div class="row">
		<button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
        </button>
	</div>
</form>
{% endblock %}