{% extends 'base.html'%} {% block content %}
<!-- The main picture area -->
<div class="col s12 container picture-area"></div>
<!-- search results, those results will be the desplayd in this main page-->
<div class="col s12 container search-results">
  <div class="col s12 search-result-bar">
    <a class="btn-floating btn-medium waves-effect waves-light red add-button"
      ><i class="material-icons">add</i></a
    >
    <div class="share">
      <div class="share-div">
        <h4>Share</h4>
      </div>
      <div class="share-links-container">
        <ul class="share-links">
          <div class="circle-around-social-links">
            <li>
              <a href="#"><i class="fab fa-facebook"></i></a>
            </li>
          </div>
          <div class="circle-around-social-links">
            <li>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
          </div>
          <div class="circle-around-social-links">
            <li>
              <a href="#"><i class="fab fa-instagram-square"></i></a>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>

  <!-- is desplayed the ingrediants required and method of cooking -->
  <div class="col s12 search-result-bar list-icon">
    <h5><i class="fas fa-th-list"></i> <span>Search results</span></h5>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 m5 ingrediants-required">
      <div class="ingrediants">
        <h5>Ingrediants</h5>
        {%for i in s %}
        <ul>
          <li class="order">{{i.capitalize()}}</li>
        </ul>
        {%endfor%}
      </div>
    </div>
    <div class="col s12 m7 cooking-description">
      {%for method in description%}
      <div class="description">
        <h5>Cooking Instruction</h5>
        <p>{{method.cooking_instruction}}</p>
      </div>
      {%endfor%}
    </div>
  </div>
</div>
{%endblock%}
