{% extends 'base.html'%}
<!-- Recipes desplayd in the cards-->
{% block content %}
<!--Pagination-->
{{ pagination.info }}
<div class="pagination">{{ pagination.links|safe }}</div>
{%for ingrediants in recipe %}
<div class="ca">
	<div class="row">
		<div class="search-results-list">
			<div id="demo"></div>
			<div class="z-depth-2">
				<div class="row">
					<div class="col m5 l5 card-image">
						<!-- Recipe picture-->
						<div class="for-pic">
							<img src="{{ingrediants.picture_url}}" class="round-image size responsive-img" />
                        </div>
						</div>
						<div class="col m7 l7 dd">
							<div>
								<!-- the time When the recipe was added-->
								<div class="last_update">
									{%for a, b in added_latest.items() %} {%if a==ingrediants.date and b[0][1]=="new"%}
									<div class="time">
										<p class="ago-time-hot">{{b[0][0]}} <i class="fas fa-fire-alt"></i></p>
									</div>
									{%elif a==ingrediants.date and b[0][1]!="new" %}
									<div class="time">
										<p class="ago-time">{{b[0]}}</p>
									</div>
									{%endif%} {%endfor%}
								</div>
								<!--Difficulty level and cooking time-->
								<div class="info-window">
									<h4 class="title">{{ingrediants.recipe_name}}</h4>
									<div class="info-container">
										<div class="short-info">
											<div class="circles">
												<i class="material-icons">timer</i>
											</div>
											<div class="data">
												{{ingrediants.prep_time}}
											</div>
										</div>
										<div class="short-info">
											<div class="circles">
												<i class="material-icons">build</i>
											</div>
											<div class="data">
												{{ingrediants.difficulty_level.capitalize()}}
											</div>
										</div>
									</div>
								</div>
								<p class="ingrediants-on-the-card module fade ">
									{{ingrediants.ingrediants}}
								</p>
							</div>
							<!-- Edit, delete, see resipe buttons-->
							<div class="buttons">
								<a id="b4" href="{{url_for('delete_recipe',recipes_id=ingrediants._id)}}"
									class="waves-effect waves-light btn btn_small red xx">DELETE</a>
								<a href="{{url_for('edit_recipe',recipes_id=ingrediants._id)}}"
									class="waves-effect waves-light btn btn_small lighten-2 xx">Edit</a>
								<a href="{{url_for('dish',recipes_id=ingrediants._id)}}"
									class="waves-effect waves-light btn btn_small green">See Recipe</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{%endfor%}
	<!--Pagination-->
	<div class="pagination">{{ pagination.links|safe }}</div>
	{%endblock%}