{% extends 'base.html'%} {% block content %}
<div class="col s12 container picture-area"></div>
<div class="col s12 container search-results">
	<div class="col s12 search-result-bar"></div>
	<div class="col s12 search-result-bar"></div>
	{%for ingrediants in recipe %}
	<div class="search-results-list">



		<div class="card horizontal z-depth-4">
			<div class="row">
				<div class=" col m5 l5 card-image ">
					<img src="{{ingrediants.picture_url}}" class="round-image" />
          </div>
					<div class=" col m7 l7 card-stacked">
						<div class="card-content">

							<div class="info-window">
								<h4 class="title">{{ingrediants.name}}</h4>
								<div class="info-container">
									<div class="short-info">
										<div class="circles"><i class="material-icons">timer</i>
										</div>
										<div class="data">
											{{ingrediants.duration}}
										</div>
									</div>
									<div class="short-info">
										<div class="circles"><i class="material-icons">build</i></div>
										<div class="data">
											{{ingrediants.difficulty.capitalize()}}
										</div>
									</div>
								</div>
							</div>
							<p>
								{% for i in s %}
                                <ul class="a">
                                    <li> {{i.capitalize()}} </li>
                                </ul>
                              
							
								{%endfor%}
								
							</p>
						</div>
						<div class="card-action">
							<a href="#">This is a link</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!--<img src="{{ingrediants.picture_url}}" />-->{{ingrediants}}{%endfor%}{%endblock%}
</div>